<div class="use-wrapper">
  <div class="middle">
      <h2>"Shop" - demo application for the purchase of goods.</h2>
      <div>
        <p>Application divided by three parts - Landing, User and Admin panels</p>
      </div>
      <div>
        <p>User and Admin panels protected by default.</p>
      </div>
      <div>
        <p>To log in as User you need registration (default role - "user") or enter email - "user@gmail.com" and password - "secret" on the authorization form. </p>
        <p>User can add to basket and change counts items</p>
      </div>
      <div>
        <p>To log in as Administrator you need enter email - "admin@gmail.com" and password - "secret" on the authorization form.</p> 
        <p>Administrator can edit items (only price) and showing fake statistics</p>
      </div>
      <div>
        <p>All goods - fake</p>
      </div>
  </div>
</div>