.mat-card-header {
  max-height: 26px;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 2px auto;
  height: 180px;
  object-fit: cover;
}

.card {
  margin: 10px;
}

.description {
  max-height: 50px;
  overflow: hidden;
}
