.content {
    height: calc(100vh - 64px);
  
    mat-drawer {
      width: 250px;
  
      .catalog-menu {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 84px);
  
        span{
          flex-grow: 1;
        }
      }
    }
  }
  