<mat-dialog-content>
  <div *ngIf="data.message">
    {{data.message}}
  </div>
  <div *ngIf="product">
    
    <div class="modal-body">
      <h2>{{product.name}}</h2>

      <div>
        {{product.description}}
      </div>

      <mat-form-field class="full-width">
        <input matInput type="number" [formControl]="price" autocomplete="off" placeholder="Price">
        <mat-error *ngIf="isValid(price)">{{errorMessage}}</mat-error>
      </mat-form-field>

    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close *ngIf="data.url; else close" [routerLink]="data.url">
    Ok
  </button>
  <ng-template #close>
    <button mat-raised-button color="primary" *ngIf="product" (click)="editProduct(product)" [disabled]="submitted">
        Edit
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>
      Close
    </button>
  </ng-template>
</mat-dialog-actions>