.toolbar {
  span {
    display: flex;
    align-items: center;
    margin-right: 20px;

    mat-icon {
      margin-right: 5px;
    }
  }

  .warn{
    display: flex;
    position: absolute;
    right: 0;
    top: 56px;
    z-index: 2;

    @media (min-width: 500px) {
      position: static;
    }
  }

  .fg-1{
    flex-grow: 1;
  }
}

