<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>
      <mat-icon>shopping_cart</mat-icon>
      Shop
    </span>

    <ng-container [ngSwitch]="getRole()">

      <ng-container *ngSwitchCase="['user']">
        <app-basket></app-basket>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/sign-in">Sign in</a>
        <a mat-button routerLink="/sign-up">Sign up</a>
      </ng-container>

    </ng-container>

  </mat-toolbar-row>
</mat-toolbar>
